<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Hunters</title>
</head>

<body>
    <header>
        <img id="logo" src="/resources/hunterLogo.png" alt="hunterLogo" height="50px" style="padding: 10px;">
        <li>
            <a href="#">Profile</a>
        </li>
    </header>
    <section id="content">
        <div id="menu-bar">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Generate test</a>
            </li>
            <li>
                <a href="#">History</a>
            </li>
        </div>
        <div id="main">
            center
        </div>
    </section>
    <!-- <footer>

    </footer> -->
    <script src="/js/home.js"></script>
</body>

</html>