<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>

    

    <div class="imgcontainer">
        <img src="../resources/logo.png" alt="Avatar" class="avatar">
    </div>
    <h2>Login hunter</h2>

    <div class="form-container">
        <label for="email"><b>Email address</b></label>
        <input type="text" placeholder="Type here..." name="email" id="email-input" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Type here..." name="password" id="password-input" required>
        <span id="show-hide">
    
        </span>

        <h1 id="error-message"></h1>
        <button type="submit" id="login-button">Login</button>
    </div>

    <div class="container">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    </form>

    <footer>

    </footer>
    <script src="../js/login.js"></script>
</body>

</html>