body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #4E4B2C;
	;
}

form {
	border: 1px solid #4E4B2C;
}

input {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: #f1f1f1;
	border-radius: 15px;
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

h2 {
	text-align: center;
}

button {
	background-color: #716F56;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 1;
	border-radius: 15px;
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

button:hover {
	opacity: 1;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 300px;
}

.form-container {
	max-width: 500px;
	margin: auto;
}

.container {
	padding: 50px;
	text-align: center;
}

span.psw {
	color: inherit;
	padding-top: 16px;
}
span.psw a {
	color: inherit;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

#error-message {
	color: red;
	animation-name: custom-animation;
  animation-duration: 4s;
  text-align: center;
}

@keyframes custom-animation {
	from {
		color: red;
	}
	to {
		background-color: yellow;
	}
}