body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

.container {
    padding: 16px;
    background-color: white;
}
.all-inputs{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

.all-inputs:focus {
    background-color: #ddd;
    outline: none;
    box-sizing: border-box;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.register-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
}

.register-button:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

h1, p {
    text-align: center;
}
  
.sign-in-when-no-account {
    background-color: #f1f1f1;
    text-align: center;
}